.barplay__info-section {
  box-sizing: border-box;
  position: relative;
  top: -5px;
  width: 100%;
  display: flex;
  justify-content: start;
  font-size: 16px;
}

.barplay__info-and-schedule {
  display: flex;
  position: relative;
  justify-content: center;
}

.barplay__info-text {
  background: #111111;
  color: white;
  width: 40%;
  padding: 4rem;
  position: relative;
  top: -3rem;
}

.barplay__info-section h1 {
  font-size: 30px;
  justify-content: flex-start;
}

.barplay__info-section li {
  color: red;
  list-style: none;
  text-decoration: underline;
  cursor: pointer;
}

.barplay__info-section li:hover {
  text-decoration: none;
}


/* -----schedule section ----- */

.barplay__schedule-section {
  background-color: white;
  color: #111111;
  height: 15rem;
  width: 25rem;
  padding: 3rem;
  position: relative;
}

.barplay__schedule-section-text {
  margin-top: -40px;
  justify-content: flex-start;
}

/* ------- Clock ------- */

.barplay__schedule-clock {
  display: flex;
  justify-content: start;
  align-items: center;
}

.barplay__schedule-icon {
  font-size: 30px;
}

.barplay__schedule-clock-p {
  margin-left: 2rem;
}

/* ----Location------ */

.barplay__schedule-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barplay__schedule-location a {
  color: #111111;
}

.barplay__schedule-location p {
  margin-left: -1.4rem;
}

/* ----- Phone ------ */

.barplay__schedule-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barplay__schedule-phone a {
  color: #111111;
}

#soita {
  margin-left: 11rem;
}

/* -------Ruoka listat----- */

.barplay__ruoka-listat {
  position: relative;
  
  width: 100%;
  background-color: antiquewhite;
}

.barplay__ruoka-listat a {
}

/* ----------media quarry---------- */

@media screen and (max-width: 1115px) {
      .barplay__info-section {         
        display: flex;
        flex-direction: column-reverse;
      }
      /* upper code makes the column reverse */

      .barplay__schedule-section {
        justify-content: flex-start;
      }
      .barplay__ruoka-listat  {
        padding: 1rem 5rem;
      }
}