.barplay__main {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-top: -200px;
    margin-bottom: -200px;
}

.barplay__main-img {
    width: 100%;
    overflow: hidden;
    margin-bottom: -150px;
}

.barplay__logo {
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 32%;
    width: 35rem;
}