.barplay__yhteistiedot {
    box-sizing: border-box;
    color: white;
    background-color: black;
    
}

.yhteistiedot__info {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0rem 2rem;
    padding-bottom: 3rem;
}

.barplay__yhteistiedot h1 {
    padding-top:3rem ;
    margin-bottom: 3rem;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
 }

 .info-icon
 {
    font-size: 24px;
    margin-top: 10px;
    margin-right: 1rem;
 }


 /* -------palautetta------- */

 .info-btn {
    height: 4rem;
    width: 10rem;
    background-color:white;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 28px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
 .info-btn:hover {
    cursor: pointer;;
 }

.info-palautetta li {
    display: flex;
}

.info-palautetta li:hover {
    cursor: pointer;
    color: aqua;
}

 /* ----karta------ */
 
 .info-karta li {
    display: flex;
    width: 10rem;
 }

  .info-karta p {
    margin-left: 0;
  }

  /* --------soita-------- */

  .info-soita li{
    display: flex;
  }

  /* --------schedule------ */

  .info-aikataulu {
    width: 22rem;
  }

  .info-aikataulu-koko {
    display: flex;
  }

  .info-schedule {
    display: flex;
}

.info-time {
    margin-left: 2rem;
}

.info-time-su {
    margin-left: 3.5rem;
}

@media screen and (max-width: 950px) {
    .yhteistiedot__info {
        flex-direction: column;
    }

    .info-aikataulu {
        width: 40rem;
    }
    .info-btn {
        width: 100%;
    }


}

@media screen and (max-width: 650px) {
    .info-aikataulu {
        width: 90%;
    }
}