.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 2;
  color: white;
  height: 3rem;
  margin: 1rem;
}

.navbar_social-media ul {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
  margin-right: 1.5rem;
  align-items: center;
  justify-content: center;
}

.navbar_social-media li {
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: -13px;
}

.navbar_social-media li:hover {
  color: aqua;
  cursor: pointer;
  margin-bottom: -4px;
}

.barplay__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25rem;
  font-size: 1.1rem;

  list-style: none;
}

.barplay__navbar-links li {
  margin-right: 3.2rem;
  cursor: pointer;
}

.barplay__navbar-links li a {
  text-decoration: none;
  color: white; /* Set your desired link color */
  position: relative;
}

.barplay__navbar-links li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px; /* Adjust this value to control the distance between text and underline */
  background-color: white; /* Set your desired underline color */
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease; /* Adding a transition to the transform property */
}

.barplay__navbar-links li a:hover::before {
  transform: scaleX(1);
}

.barplay__navbar-links li:nth-child(2) {
  cursor: pointer;
  margin-bottom: 0px;
  text-decoration: none;
}

#barplay-joensuu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -18px;
  text-decoration: none;
}

.barplay__navbar-btn {
  background-color: #a62626;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-right: 50px;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}

.barplay__navbar-btn:hover {
  cursor: pointer;
}

/* --------small screen overlay ----------*/

.navbar__smallscreen {
  display: none;
}

.barplay__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  transition: 0.5 ease;
  flex-direction: column;
  z-index: 5;
}

.overlay__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0px;
  width: 3rem;
  height: 3rem;
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}

/* ---- Smallscreen links Barplay joensuu/ conatiner ---- */

.barplay__navbar-smallscreen-links {
  width: 100%;
  list-style: none;
  cursor: pointer;

  margin: 0px;
  justify-content: center;
  align-items: center;
}

.barplay__links-smallscreen {
  position: relative;
  left: -20px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barplay__links-smallscreen:hover {
  background: white;
  color: #272727;
}

.barplay__links-smallscreen-joensuu {
  text-align: center;
  justify-content: center;
  font-weight: 600;
  transition: 0.5 ease;
}
.barplay__links-smallscreen-joensuu:hover {
  text-decoration: underline;
}

.barplay__smallscreen-barplay_joensuu {
  flex-grow: 1;
  background: #272727;
  padding: 0.5rem;
  list-style: none;
  cursor: pointer;
}

/* ----------List / icons conatainer------- */

.navbar__list-icons {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#272727, black);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

/* -----Start of icons------ */

.barplay__navbar-smallscreen-links-icons {
  display: flex;
  list-style: none;
  width: 100%;
  margin-left: -40px;
}

.navbar-icons-smallscreen {
  border: #282828 solid 1px;
  display: flex;
  justify-content: center;
  position: relative;
  width: calc(100% / 3);
  padding: 1rem;
  font-size: 16px;
}

.navbar-icons-smallscreen:hover {
  cursor: pointer;
  color: aqua;
}

.navbar-icons-smallscreen a {
  font-size: 30px;
  position: relative;
  top: 5px;
  margin-right: 15px;
}

.barplay__navbar-smallscreen-btn {
  background-color: #a62626;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin: 2rem;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

/* --------HambergurMenu--------- */

.navbar__smallscreen-hamburgermenu li {
  width: rem;
  background: #272727;
  font-size: 16px;
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hamburger {
  position: absolute;
  right: 2rem;
  font-size: 35px;
}

/* ----mediaquarryes----- */

@media screen and (max-width: 1150px) {
  .navbar__smallscreen {
    display: flex;
  }
  .barplay__navbar-links,
  .navbar_social-media,
  .barplay__navbar-btn {
    display: none;
  }
}
