.navbar{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 2;
    color: aliceblue;
    
}

.navbar_social-media ul {
    display: flex;
    font-size: 2rem;
    list-style: none;
    margin: 2rem;

}

.navbar_social-media li {
    margin: 1rem;
}

.barplay__navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

    list-style: none;
}

.barplay__navbar-links li {
    margin-right: 2.5rem;
}


.barplay__navbar-links li:nth-child(2) {
    font-weight: 800;
}

