.barplay__add {
  color: white;
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.barplay__add h1 {
  text-align: center;
  padding: 2rem;
}

.barplay__add h2 {
  color: red;
}

.add__section {
  display: flex;
}

.add__section-1 {
  margin: 0rem 4rem;
  margin-right: 0rem;
}

.add__section-1 img {
  width: 95%;
}

.add__dining-text {
  background-color: #282828;
  padding: 1rem;
  width: 25rem;
  height: 13rem;
  position: relative;
  left: 5%;
  margin-top: -3rem;
}

.add__dining-text a {
  color: red;
}

.add__dining-text:hover {
  background-color: black;
}

/* ----- section 2 ----- */

.add__section-2 {
  width: 60rem;
  margin-right: 4rem;
}

.add__info {
  display: flex;
  border-bottom: solid white 1px;
  border-top: solid white 1px;
}

.bartender {
  width: 15rem;
  height: 8rem;
  margin-top: 1.2rem;
}

.bartender__text {
  margin-left: 1rem;
  width: 50%;
}

/* --------markus----------- */

.markus {
  width: 15rem;
  height: 9.5rem;
  margin: 1rem 0rem;
}
/* ------hamburger------- */

.hamburger-img {
  margin: 1rem 0rem;
  width: 17rem;
  height: 11rem;
}

/* ------Responsivness ----- */

@media screen and (max-width: 1250px) {
  .add__section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .add__info img {
    width: 50%;
    height: 50%;
  }

  .add__info {
    flex-direction: column;
    border: transparent;
    justify-content: center;
    align-items: center;
  }

}
@media screen and (max-width: 915px) {
    
    .add__info {
        
    }
}
